h1, .h1{
	font-size:1.3em;
}
header h1{
	color:#ffffff;
}
body{
	padding-top:100px;
}
.container-fluid{
  max-width:1200px;
}
.navbar {
  margin-bottom:0;
  min-height:0;
}

#image-gallery .modal-footer{
	border-top:none;
	text-align:left;
}

#image-gallery .carousel-control.left, #image-gallery .carousel-control.right {
  background:none;
  width:auto;
}

#image-gallery .carousel-control.right {
  right:20px;
}

#image-gallery .carousel-control.left {
  left:20px;
}

#image-gallery .btn-default {
	border:none;
}

#image-gallery .carousel-control .glyphicon-chevron-left,
#image-gallery .carousel-control .glyphicon-chevron-right {
  color:#000000;
}

#reproductor {
	position: relative;
}

#reproductor nav{
	position: absolute;
    bottom: 20px;
    left: 48%;
    width: 32px;
    height: 32px;
    border-radius: 25px;
    background-color: #080808;
    border-color: transparent;
    text-align: center;
}

#reproductor .btn-xs{
	width: 20px;
    height: 20px;
    background-color: #080808;
    border-color: white;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
}

#reproductor .btn-xs:hover{
	width: 16px;
    height: 16px;
}

#alta{
	font-size:20px;
}

#cajadatos .list-group-item img{
	max-width: 100%;
}

#botonaltas{
	background-color:#000000;
}

.list-group-item{
	overflow:hidden;
}

.botones {
    position: absolute;
    top:10px;
}

.botones button{
    background-color: #000000;
    color:#ffffff;
    border:1px solid;
}

#home a.thumbnail, #home a.thumbnail:hover,  #home a.thumbnail:focus,  #home a.thumbnail.active{
	border:none;
	border-color: #ffffff;
}

 #mapa { height: 100%; width: 100% }

.sepia {
	filter: sepia(100%);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
}

.blanconegro {
         filter: grayscale(100%) brightness(100%) contrast(100%);
         -webkit-filter: grayscale(100%) brightness(100%) contrast(100%);
         -moz-filter: grayscale(100%) brightness(100%) contrast(100%);
}

#cajaimagen{
	margin-bottom:10px;
}

#eliminartodos{
	width:100%;
}
#hacerfoto{
	font-size:7em;
}

.radio-inline{
padding-left: 9px;

}
